/* General Styles */
    *{margin:0;padding:0;box-sizing:border-box;font-family:Arial, sans-serif;}
    body{background:#f5fdf7;color:#222;
    max-width: 1140px;}

    /* Navbar */
    .navbar{
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:10px 30px;
      background:white;
      color:#fff;
    }
    .logo-name{display:flex;
        align-items:center;
        gap:10px;}
    .logo-img img{width:50px;
    }
    .title{
      color:rgba(0, 103, 71, 1);
      font-weight: bold;
    }
    .heart-icon img{
      width:15px;vertical-align:middle;margin-left:5px;
     
    }
    .navbar .logo{font-size:20px;
        font-weight:bold;
        display:flex;
        align-items:center;
        gap:10px;}
    .navbar .stats{display:flex;
        gap:20px;
        align-items:center;
        font-size:14px;}
    .stats span{border-radius: 50px;
background: rgba(65, 255, 107, 0.1);
color: black;
        padding:4px 10px;
        border-radius:15px;}
.coin-img img{width:12px;
  vertical-align:middle;
  margin-left:5px;}
.span-1{
    border-radius: 50px;
background:rgba(0, 166, 62, 1);
}
